/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --fade-time: 300ms;
  --streak-color: rgba(211, 211, 211, 40%);
  --streak-delay: 1.3s;
  --wire-panel-width: 23vw;
  --wire-panel-height: 13vw;
  --wire-panel-margin: 23%;
  --compartment-width: 6vw;
  --bomb-rotation-start: -19deg;
  --bomb-rotation-finish: -17deg;
  --bomb-trans-x: 50vw;
  --bomb-trans-y: -180vh;
}

body {
  min-height: 150vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#2f2f2f));
  background-image: -o-linear-gradient(#161616, #2f2f2f);
  background-image: linear-gradient(#161616, #2f2f2f);
  margin: 0px;
  overflow: hidden;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}

.instructions-btn {
  position: fixed;
  top: 20px;
  right: 20px;
}

.instructions-svg {
  height: 40px;
  width: 40px;
  fill: var(--streak-color);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.instructions-svg:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.fade-out {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-duration: var(--fade-time);
          animation-duration: var(--fade-time);
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: var(--fade-time);
          animation-duration: var(--fade-time);
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.falling-streak {
  position: absolute;
  z-index: -1000;
  height: 45vh;
  width: 1vw;
  visibility: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(var(--streak-color)), to(transparent));
  background-image: -o-linear-gradient(transparent, var(--streak-color), transparent);
  background-image: linear-gradient(transparent, var(--streak-color), transparent);
  -webkit-animation-name: bottom-to-top;
          animation-name: bottom-to-top;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.streak1 {
  margin-left: 8%;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.streak2 {
  margin-left: 26%;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.streak3 {
  margin-left: 35%;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.streak4 {
  margin-left: 60%;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.streak5 {
  margin-left: 85%;
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
}

.title-row {
  margin-top: 42px;
  text-align: center;
  margin-bottom: 21px;
}

.instructions-title {
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Work Sans';
  margin-top: 6vh;
  font-size: 18px;
  color: #00ffff;
}

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 10vw;
}

.instruction-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instructions-number {
  padding-right: 25px;
  font-family: 'Work Sans';
  font-size: 36px;
  color: #00ffff;
}

.instructions-text {
  padding: 10px;
  font-family: 'Work Sans';
  font-size: 14px;
  color: #ffffff;
  max-width: 25em;
}

.menu-container {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: rgba(0, 0, 0, 80%);
  z-index: 100;
}

.mush-cloud {
  width: 100%;
  min-height: 5em;
  max-width: 20em;
  fill: var(--streak-color);
}

.start-btn {
  margin-inline: auto;
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
  width: 120px;
  background-color: #00ffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 18px;
  font-family: 'Work Sans';
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border: #00ffff solid 3px;
}

.start-btn:hover {
  background-color: transparent;
  color: #00ffff;
}

.streak-container {
  position: absolute;
  z-index: -1;
  height: 150vh;
  width: 100vw;
  overflow: hidden;
}

.game-container{
  text-align: center;
  height: auto;
  width: 100vw;
  margin: auto;
  position: fixed;
  bottom: 20vh;
}

.bomb-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative ;
  background-repeat: no-repeat;
  background-position: center;
  height: 55vh;
  width: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.bomb-image {
  position: absolute;
  z-index: -100;
  max-width: 100%;
  max-height: 100%;
}

.flag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1vh;
  position: absolute;
  z-index: -50;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20vh;
}

.flag-pole {
  width:15vw;
  height:100%;
  border-radius: 3px;
  visibility: hidden;
}

.start-falling {
  -webkit-animation-name: start-falling;
          animation-name: start-falling;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
}

.fly-off {
  -webkit-animation-name: fly-off;
          animation-name: fly-off;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.falling {
  -webkit-animation-name: continue-falling;
          animation-name: continue-falling;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.explode {
  -webkit-animation-name: explode;
          animation-name: explode;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-animation-timing-function: cubic-bezier(0.46, 0.07, 0.08, 2.21);
          animation-timing-function: cubic-bezier(0.46, 0.07, 0.08, 2.21);
  visibility: visible;
}

.panel-cover {
  position: absolute;
  z-index: 15;
  width: calc(var(--wire-panel-width) + 2.5vw);
  margin-right: var(--wire-panel-margin);
}

.wire-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(assets/images/wire_panel.svg);
  background-repeat: no-repeat;
  background-position: center;  
  background-size:auto;
  width: var(--wire-panel-width);
  height: var(--wire-panel-height);
  -webkit-box-pack:space-evenly;
      -ms-flex-pack:space-evenly;
          justify-content:space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  padding: 3%;
  overflow: hidden;
  margin-right: var(--wire-panel-margin);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wire-compartment-container {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.wire-compartment {
  cursor: url('assets/images/cutters_icon.svg'), auto;
  display: block;
}

@media only screen and (max-aspect-ratio: 1) {
  :root {
    --bomb-rotation-start: -1.5deg;
    --bomb-rotation-finish: 1.5deg;
    --bomb-trans-x: -180vh;
    --bomb-trans-y: 50vw;
    --wire-panel-width: 50%;
    --wire-panel-height: 50%;
    --compartment-width: 25%;
  }  
  
  .instructions-btn .instructions-svg{
    position: fixed;
    top: 20px;
    right: 20px;
    height: 25px;
    width: 25px;
  }

  .game-container {
    width: 100vw;
  }

  .bomb-image {
      rotate: -90deg;
    }

  .bomb-container {
    width: 100vw;
  }

  .flag-container {
    width: 100%;
    height: 1vh;
    position: absolute;
    z-index: -50;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 28%;
    margin-left: 20%;
  }

  .flag-pole {
    width: 20vh;
  }

  .wire-panel {
    rotate: -90deg;
    margin-right: 0;
    margin-top: var(--wire-panel-margin);
  }

  .panel-cover {
    rotate:-90deg;
    margin-right: 0;
    margin-top: var(--wire-panel-margin);
  }

}

@-webkit-keyframes fade-out {
  0% {opacity: 100%;}
  100% {opacity: 0;}  
}

@keyframes fade-out {
  0% {opacity: 100%;}
  100% {opacity: 0;}  
}

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 100%;}  
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 100%;}  
}

@-webkit-keyframes bottom-to-top {
  0% {-webkit-transform: translateY(150vh);transform: translateY(150vh);}
  100% {-webkit-transform: translateY(-160vh);transform: translateY(-160vh);}
}

@keyframes bottom-to-top {
  0% {-webkit-transform: translateY(150vh);transform: translateY(150vh);}
  100% {-webkit-transform: translateY(-160vh);transform: translateY(-160vh);}
}

@-webkit-keyframes start-falling {
  0% {rotate: 0deg;}
  100% {rotate: var(--bomb-rotation-start);}
}

@keyframes start-falling {
  0% {rotate: 0deg;}
  100% {rotate: var(--bomb-rotation-start);}
}

@-webkit-keyframes fly-off {
  0% {}
  99% {-webkit-transform: rotateY(-480deg) rotateZ(-60deg) translate(var(--bomb-trans-x), var(--bomb-trans-y));transform: rotateY(-480deg) rotateZ(-60deg) translate(var(--bomb-trans-x), var(--bomb-trans-y)); opacity: 0;}
  100% {opacity: 0;}
}

@keyframes fly-off {
  0% {}
  99% {-webkit-transform: rotateY(-480deg) rotateZ(-60deg) translate(var(--bomb-trans-x), var(--bomb-trans-y));transform: rotateY(-480deg) rotateZ(-60deg) translate(var(--bomb-trans-x), var(--bomb-trans-y)); opacity: 0;}
  100% {opacity: 0;}
}

@-webkit-keyframes continue-falling {
  0% {rotate: var(--bomb-rotation-start);}
  100% {rotate: var(--bomb-rotation-finish);}
}

@keyframes continue-falling {
  0% {rotate: var(--bomb-rotation-start);}
  100% {rotate: var(--bomb-rotation-finish);}
}

@-webkit-keyframes explode {
  0% {rotate: 0deg;}
  100% {rotate: -110deg;}
}

@keyframes explode {
  0% {rotate: 0deg;}
  100% {rotate: -110deg;}
}