:root {
  --font-calc: clamp(16px, calc(0.6em + 1vw), 50px);
  --logo-height: clamp(20px, 4em, 500px);
  --side-margin: 1em;
  --background-color: black;
  --background-image-offset: 75%;
  --text-color: white;
  --button-padding: clamp(2px, 0.2em, 10px);
  --radius-general: 0.4em;
  --paragraph-width: calc(var(--background-image-offset) - 10%);
  --bold-font-weight: 350;
}

html {
  background-color: var(--background-color);
  font-family: Montserrat Alternates, Arial, Helvetica, sans-serif;
  color: seashell;
  font-size: var(--font-calc);
  scroll-padding-top: clamp(20px, var(--logo-height), 500px);
  scroll-behavior: smooth;
}

body {
  scroll-padding-top: var(--logo-height);
  background: url(../images/geometric_background_accent.svg) no-repeat var(--background-image-offset) 0 scroll;
  }

header {
  width: 100%;
}

#navbar {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s;
}

.logo {
  height: var(--logo-height);
  margin-left: var(--side-margin);
}

ul {
  display: flex;
  list-style-type: none;
}

.nav__cluster {
  display: flex;
  gap: 15px;
  margin-right: 25px;
}

.nav__link img {
  height: calc(var(--logo-height) * 0.4);
}

.grow { 
  transition: all .2s ease-in-out; 
  }
  
.grow:hover { 
  transform: scale(1.1);
  opacity: 50%; 
  }

main>section+section {
  margin-top: 5rem;
}

/* main div::before {
  content: url('assets\images\vertical-accent.svg');
} */

.has-gutters {
  padding: 0px var(--side-margin);
}

section.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  padding: 0px var(--side-margin);
}

div.landing-text {
  width: var(--paragraph-width);
  margin-bottom: 0.67rem;
}

a.section-button {
  display: inline-block;
  text-decoration: none;
  border: 2px solid var(--text-color);
  border-radius: var(--radius-general);
  padding:  var(--button-padding) var(--button-padding);
  background-color: var(--background-color);
  color: var(--text-color);
  /* margin-top: 0.67rem; */
  margin-right: 0.5em;
  margin-top: 0.5rem
}

section.about-me {
  /* height: 100vh; */
}

section.about-me p{
  width: var(--paragraph-width);
}

section.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

section.projects h1 {
  display: block;
}

.project-items-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content:center;
  gap: 1.5em 1.5em;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(200px, 28%, 800px);
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
  border-radius: var(--radius-general);
  padding: 1.5%;
}

.project-image {
  width: 100%;
}

.in-text-anchor {
  text-decoration: none;
  color: var(--text-color);
  font-weight: var(--bold-font-weight);
  text-shadow: 0 0 0.4em var(--text-color);
}

