:root {
  --font-calc: clamp(16px, calc(0.4em + 1vw), 50px);
  --logo-height: clamp(50px, 3em, 500px);
  --side-padding: 3rem;
  --background-color: #ffffff;
  --accent-color: #d9daf177;
  --background-image-offset: 75%;
  --text-color: #000000;
  --button-padding-top-bottom: clamp(2px, 0.25em, 10px);
  --button-padding-sides: clamp(8px, 1em, 15px);
  --radius-general: 0.4em;
  --paragraph-width: calc(var(--background-image-offset) - 10%);
  --bold-font-weight: 350;
  --scroll-progress-height: 0.5rem
}

html.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
}

html {
  background-color: var(--background-color);
  font-family: Work Sans, Arial, Helvetica, sans-serif;
  color: seashell;
  font-size: var(--font-calc);
  scroll-padding-top: clamp(20px, var(--logo-height), 500px);
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--logo-height) + var(--scroll-progress-height) + 0.5rem);
}

a,p,h1,h2,h3,nav path {
  color: var(--text-color);
  fill: var(--text-color);
}

#dark-svg-path {
  display: none;
}

html.dark-mode #dark-svg-path {
  display: initial;
}

html.dark-mode #light-svg-path {
  display: none;
}

body {
  scroll-padding-top: var(--logo-height);
}

.content-wrapper {
  width: 100%;
  max-width: 60rem;
  margin-inline: auto;
  padding-inline: var(--side-padding);
  box-sizing: border-box;
}

.background-svg {
  position: fixed;
  z-index: -100;
  right: 15%;
  transform: rotateY(90deg);
  height: 90vh;
  top: 10vh;
}

header {
  width: 100%;
}

nav .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: ;
}

#navbar {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0.5rem;
  width: 100%;
  transition: 0.3s;
  z-index: 100;
}

#logo svg {
  height: var(--logo-height);
}

ul {
  display: flex;
  list-style-type: none;
}

.nav__cluster {
  display: flex;
  gap: 15px;
  margin-right: 25px;
}

.nav__link svg {
  height: calc(var(--logo-height) * 0.5);
  width: calc(var(--logo-height) * 0.5);
  fill: var(--text-color);
}

section.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

div.landing-text {
  width: var(--paragraph-width);
  margin-bottom: 0.67rem;
}

a.section-button {
  display: inline-block;
  text-decoration: none;
  min-width: 6em;
  text-align: center;
  border: 2px solid var(--text-color);
  border-radius: var(--radius-general);
  padding:  var(--button-padding-top-bottom) var(--button-padding-sides);
  background-color: var(--background-color);
  color: var(--text-color);
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  transition: all .2s ease-in-out;
}

a.section-button:hover {
  background-color: var(--accent-color);
}

#profile-image {
  width: 10em;
}

section.about-me {
  height: 90vh;
}

section.about-me p {
  width: var(--paragraph-width);
}


section.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.project-items-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content:center;
  gap: 1.5em 1.5em;
  perspective: 1000px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
  width: clamp(200px, 28%, 800px);
  background-color: var(--accent-color);
  border-radius: var(--radius-general);
  /* padding: 1.5%; */
}

.project-image {
  width: 100%;
  border-radius: var(--radius-general) var(--radius-general) 0% 0%;
}

.project-content {
  padding: 1.5%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.more-coming {
  z-index: -1;
}

.in-text-anchor {
  text-decoration: underline;
  color: var(--text-color);
  font-weight: var(--bold-font-weight);
}

footer {
  width: auto;
  height: var(--logo-height);
}

/*responsive styling for mouse activivty*/

.grow { 
  transition: all .2s ease-in-out; 
  }
  
.grow:hover { 
  transform: scale(1.05);
  opacity: 70%; 
  }



/*responsive styling for different screen sizes*/

@media only screen and (max-width: 550px){

  body {
    background: none;
  }

  .project-items-container {
    display:block;
  }

  .project-item {
    width: auto;
    margin-bottom: 0.75em;
  }

  div.landing-text {
    width: auto;
  }
  section.about-me p {
    width: auto;
  }
}



/* scroll tracking - see related JS*/

.scroll-tracker {
  height: var(--scroll-progress-height);
  background-color: var(--text-color);
  position: fixed;
  inset: 0 0 auto;
  transform-origin: left;
  z-index: 102;
}

.scroll-tracker-backer {
  height: var(--scroll-progress-height);
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  z-index: 101;
}



/*rotate element animation using only CSS*/

.rotate-in {
  animation: rotate-in linear;
  animation-timeline: view();
  animation-range: entry -10% entry 90%;
}

@keyframes rotate-in {
  from {
    opacity: 0.35;
    transform: rotateX(90deg) rotateY(45deg);
    /* z-index: 0; */
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) rotateY(0deg);
    /* z-index: 90; */
  }
}